{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<div class="background-area" id="background-area">
</div>
<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="107%" viewBox="0 0 1573.23 1573.23" enable-background="new 0 0 1573.23 1573.23" xml:space="preserve">
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M884.327,786.224
        c0,53.979-43.759,97.738-97.743,97.738c-53.982,0-97.739-43.759-97.739-97.738c0-53.981,43.757-97.737,97.739-97.737
        C840.568,688.487,884.327,732.243,884.327,786.224z"></path>
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M884.327,590.776
        c0,53.982-43.759,97.742-97.743,97.742c-53.982,0-97.739-43.759-97.739-97.742c0-53.977,43.757-97.736,97.739-97.736
        C840.568,493.04,884.327,536.799,884.327,590.776z"></path>
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M884.327,981.749
        c0,53.977-43.759,97.735-97.743,97.735c-53.982,0-97.739-43.759-97.739-97.735c0-53.983,43.757-97.739,97.739-97.739
        C840.568,884.01,884.327,927.766,884.327,981.749z"></path>
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M715.049,688.518
        c0,53.977-43.765,97.737-97.742,97.737c-53.984,0-97.74-43.76-97.74-97.737c0-53.982,43.756-97.742,97.74-97.742
        C671.284,590.776,715.049,634.536,715.049,688.518z"></path>
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M715.049,883.954
        c0,53.978-43.765,97.736-97.742,97.736c-53.984,0-97.74-43.759-97.74-97.736s43.756-97.739,97.74-97.739
        C671.284,786.215,715.049,829.977,715.049,883.954z"></path>
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M1053.628,883.954
        c0,53.971-43.771,97.731-97.746,97.731c-53.987,0-97.745-43.761-97.745-97.731c0-53.982,43.758-97.743,97.745-97.743
        C1009.857,786.211,1053.628,829.972,1053.628,883.954z"></path>
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M1053.628,688.475
        c0,53.982-43.771,97.74-97.746,97.74c-53.987,0-97.745-43.758-97.745-97.74s43.758-97.741,97.745-97.741
        C1009.857,590.734,1053.628,634.492,1053.628,688.475z"></path>
    <path class="letter letter-w" fill="transparent" stroke="#fff" stroke-width="0.4252" stroke-miterlimit="10" d="M545.74,981.686
        c0,53.978-43.764,97.737-97.741,97.737c-53.984,0-97.741-43.76-97.741-97.737c0-53.977,43.757-97.736,97.741-97.736
        C501.977,883.949,545.74,927.709,545.74,981.686z"></path>
    <path class="letter letter-m" fill="transparent" stroke="#fff" stroke-width="0.4252" stroke-miterlimit="10" d="M545.74,590.729
        c0,53.982-43.764,97.741-97.741,97.741c-53.984,0-97.741-43.758-97.741-97.741c0-53.982,43.757-97.742,97.741-97.742
        C501.977,492.987,545.74,536.747,545.74,590.729z"></path>
    <path class="letter letter-o" fill="transparent" stroke="#fff" stroke-width="0.4252" stroke-miterlimit="10" d="M884.363,395.311
        c0,53.977-43.769,97.737-97.745,97.737c-53.985,0-97.741-43.76-97.741-97.737c0-53.978,43.756-97.737,97.741-97.737
        C840.595,297.574,884.363,341.333,884.363,395.311z"></path>
    <path class="letter letter-s" fill="transparent" stroke="#fff" stroke-width="0.4252" stroke-miterlimit="10" d="M1222.892,590.776
        c0,53.982-43.759,97.742-97.737,97.742c-53.985,0-97.745-43.759-97.745-97.742c0-53.977,43.76-97.736,97.745-97.736
        C1179.133,493.04,1222.892,536.799,1222.892,590.776z"></path>
    <path class="letter letter-c" fill="transparent" stroke="#fff" stroke-width="0.4252" stroke-miterlimit="10" d="M1222.892,981.749
        c0,53.977-43.759,97.735-97.737,97.735c-53.985,0-97.745-43.759-97.745-97.735c0-53.983,43.76-97.739,97.745-97.739
        C1179.133,884.01,1222.892,927.766,1222.892,981.749z"></path>
    <path class="letter letter-o-two" fill="transparent" stroke="#fff" stroke-width="0.4252" stroke-miterlimit="10" d="M884.327,1177.178
        c0,53.978-43.759,97.736-97.74,97.736c-53.985,0-97.739-43.759-97.739-97.736c0-53.981,43.754-97.737,97.739-97.737
        C840.568,1079.44,884.327,1123.196,884.327,1177.178z"></path>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="395.311" x2="786.62" y2="1177.178"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.207" y1="590.812" x2="448.033" y2="981.764"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="395.329" x2="448.033" y2="981.764"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="448.033" y1="981.764" x2="1125.207" y2="981.781"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="448.033" y1="590.793" x2="1125.207" y2="590.812"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.207" y1="590.812" x2="786.62" y2="1177.257"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="590.812" x2="617.326" y2="884.024"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="617.326" y1="884.024" x2="955.907" y2="884.04"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="955.907" y1="884.04" x2="786.62" y2="590.812"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="617.326" y1="688.549" x2="786.62" y2="981.773"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="981.773" x2="955.907" y2="688.557"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="955.907" y1="688.557" x2="617.326" y2="688.549"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="448.033" y1="590.793" x2="448.033" y2="981.764"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="448.033" y1="590.793" x2="786.62" y2="395.329"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="395.329" x2="1125.207" y2="590.812"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.207" y1="590.812" x2="1125.207" y2="981.781"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="617.326" y1="688.549" x2="617.326" y2="884.024"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="617.326" y1="884.024" x2="786.62" y2="981.773"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="981.773" x2="955.907" y2="884.04"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="955.907" y1="884.04" x2="955.907" y2="688.469"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="955.907" y1="688.553" x2="786.62" y2="590.812"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="590.812" x2="617.326" y2="688.549"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="395.329" x2="617.326" y2="884.024"></line>
    <g>
        <g>
            
                <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="447.999" y1="590.729" x2="1125.154" y2="981.749"></line>
            <g>
                
                    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.207" y1="981.781" x2="786.62" y2="395.329"></line>
                
                    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="1177.257" x2="448.033" y2="590.793"></line>
                
                    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.207" y1="981.781" x2="786.62" y2="1177.257"></line>
                
                    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="1177.257" x2="448.033" y2="981.764"></line>
            </g>
            
                <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.62" y1="395.329" x2="955.785" y2="883.949"></line>
        </g>
    </g>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="448.033" y1="590.793" x2="955.785" y2="688.768"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="448.033" y1="590.793" x2="786.62" y2="981.773"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="447.999" y1="981.69" x2="786.162" y2="590.803"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="447.999" y1="981.69" x2="955.785" y2="883.949"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.162" y1="1176.466" x2="617.326" y2="688.549"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="786.162" y1="1176.466" x2="955.785" y2="688.342"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.048" y1="981.686" x2="617.08" y2="883.598"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.048" y1="981.686" x2="786.162" y2="590.803"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="1125.048" y1="590.724" x2="786.162" y2="981.69"></line>
    <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="617.326" y1="688.549" x2="1125.048" y2="590.724"></line>
    <path fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" d="M448.033,590.793"></path>
    <ellipse class="letter letter-center" fill="transparent" stroke="#fff" stroke-width="0.4252" stroke-miterlimit="10" cx="786.343" cy="786.527" rx="97.614" ry="97.715"></ellipse>
    <g>
        <g>
            <polyline class="letter-self letter-center" fill="none" stroke="#fff
                                                                " stroke-width="1.9843" stroke-miterlimit="10" points="756.6,746.664 820.654,746.501 
                771.668,831.511         "></polyline>
            
                <line class="letter-self letter-center" fill="none" stroke="#fff" stroke-width="1.9843" stroke-miterlimit="10" x1="776.06" y1="730.547" x2="784.777" y2="756.044"></line>
            <circle class="letter-self letter-center" fill="none" stroke="#fff" stroke-width="1.9843" stroke-miterlimit="10" cx="820.465" cy="802.857" r="1.979"></circle>
        </g>
    </g>
    <g>
        <g>
            <polyline class="letter-self letter-w" fill="none" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" points="452.488,994.857 471.595,981.742 
                424.319,981.277 481.806,1015.386 478.625,939.196        "></polyline>
            <polyline class="letter-self letter-w" fill="none" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" points="412.012,940.961 416.175,1016.507 
                451.925,994.857         "></polyline>
        </g>
    </g>
    <polyline class="letter-self letter-o" fill="none" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" points="776.845,441.381 811.641,401.579 
        786.966,359.137 761.766,402.145 796.61,441.178 "></polyline>
    <g>
        <g>
            <g>
                <polygon class="letter-self letter-o-two" fill="none" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" points="786.472,1137.925 810.282,1178.878 
                    786.47,1219.631 762.655,1178.88             "></polygon>
            </g>
            
                <line class="letter-self letter-o-two" fill="none" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" x1="815.948" y1="1178.995" x2="756.822" y2="1178.917"></line>
        </g>
    </g>
    <polyline fill="none" class="letter-self letter-s" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" points="1131.88,546.444 1106.775,590.571 
        1147.131,590.658 1127.135,626.147 "></polyline>
    <polyline fill="none" class="letter-self letter-c" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" points="1125.842,940.469 1096.275,991.901 
        1147.473,1021.546 "></polyline>
    <g>
        <g>
            <polyline class="letter-self letter-m" fill="none" stroke="#fff" stroke-width="1.5591" stroke-miterlimit="10" points="415.561,591.283 478.318,547.433 
                484.979,630.482 415.228,555.598 415.676,628.802         "></polyline>
        </g>
    </g>
    <g>
        
            <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="688.799" y1="884.297" x2="884.756" y2="884.313"></line>
        
            <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="884.756" y1="688.83" x2="688.799" y2="688.822"></line>
        
            <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="688.799" y1="688.822" x2="688.799" y2="884.297"></line>
        
            <line fill="none" stroke="#46629E" stroke-width="0.4252" stroke-miterlimit="10" x1="884.756" y1="884.313" x2="884.756" y2="688.742"></line>
    </g>
</svg>
<div class="info-block letter-m">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>MUSIC</h3>
        </div>

        <div class="panel-body">
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/113619448&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>

        <div class="panel-footer">
        </div>

    </div>
</div>
<div class="info-block letter-o">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>#MOSCOW7</h3>
        </div>

        <div class="panel-body text-center">
            <div id="instafeed"></div>
        </div>


    </div>
</div>
<div class="info-block letter-c">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>CONTACTS</h3>
        </div>

        <div class="panel-body">
            <div style="height:120px;" class="col-xs-12 text-center">
                <h2>LABLE & <br/> BOOKING</h2>
            </div>
            <div style="height:130px;" class="col-md-6 col-lg-6 col-xs-12 text-center">
                <h3>ARTISTS <br /> <small>BOOKING@MOSCOW7.LABEL</small></h3>
            </div>
            <div style="height:130px;" class="col-md-6 col-lg-6 col-xs-12 text-center">
                <h3>PRESS <br /> <small>PR@MOSCOW7.LABEL</small></h3>
            </div>
            <div class="col-xs-12 text-center">
                <a style="padding:5px;" href="#" class="fa fa-3x fa-google-plus-square"></a>
                <a style="padding:5px;" href="#" class="fa fa-3x fa-facebook-official"></a>
                <a style="padding:5px;" href="#" class="fa fa-3x fa-pinterest"></a>
                <a style="padding:5px;" href="#" class="fa fa-3x fa-youtube-square"></a>
                <a style="padding:5px;" href="#" class="fa fa-3x fa-twitter-square"></a>
            </div>
        </div>

    </div>
</div>
<div class="info-block letter-s">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>SLOG</h3>
        </div>

        <div class="panel-body">
            {{#foreach posts}}
                {{#has tag='slog'}}
                 <article class="{{post_class}}">
                    <header class="post-header">
                        <h4 class="post-title">{{title}}</h4>
                        <section class="post-meta">
                            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> 
                        </section>
                    </header>

                    <section class="post-content">
                        {{content}}
                    </section>
                </article>
                {{/has}}
            {{/foreach}}
        </div>


    </div>
</div>

<div class="info-block letter-w">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>VIDEOS</h3>
        </div>

        <div class="panel-body">
            {{#foreach posts}}
                {{#has tag='video'}}
                 <article class="{{post_class}}">
                    <header class="post-header">
                        <h4 class="post-title">{{title}}</h4>
                        <section class="post-meta">
                            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                        </section>
                    </header>

                    <section class="post-content">
                        {{content}}
                    </section>
                </article>
                {{/has}}
            {{/foreach}}
        </div>


    </div>
</div>

<div class="info-block letter-center">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>ARTISTS</h3>
        </div>

        <div class="panel-body">
            {{#foreach posts}}
                {{#has tag='artists'}}
                 <article class="{{post_class}}">
                    <header class="post-header">
                        <h4 class="post-title">{{title}}</h4>
                        {{!-- <section class="post-meta">
                            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                        </section> --}}
                    </header>

                    <section class="post-content">
                        {{content}}
                    </section>
                </article>
                {{/has}}
            {{/foreach}}
        </div>

        <div class="panel-footer">
        </div>

    </div>
</div>
